.liquids {
    background-color: #F8F8F8;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    outline: none;
    width: 80%;
    margin: 10%;
}

/* input, button {
	border: none;
	outline: none;
	/* background: none; */
/* } */


.daily-amount-section{
    /* background-color: #b96b6b; */
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.daily-amount-title{
    margin-right: 25%;
    margin-left: 10%;
    font-size: 32px;
	font-weight: 600;
	text-align: left;
    color:#888;
}

.daily-amount {
    font-size: 28px;
	font-weight: 900;
	background-color: #DFDFDF;
	padding: 5px 25px;
	border-radius: 8px;
    color:#888;
}

.main-section{
    /* background-color: darkgray; */
    display: flex;
    justify-content: flex-start;
    max-height: 500px;
}

.left {
    width:60%;
}

.liquid-form {
    display: block;
	margin: 15px;
	position: relative;
    /* background-color: coral; */
}


.liquid-form:after {
    content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	background-image: linear-gradient(to right,#FFCE00, #43e7df);
	border-radius: 10px;
	transition: 0.2s;
}

.liquid-form:focus-within:after {
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
}


.form-inner {
    position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	transition: 0.4s;
	border-radius: 8px;
}

.form-inner input {
	font-size: 18px;
	padding: 10px 10px;
	background-color: #FFF;
    /* margin:3px; */
    /* border-radius: 8px; */
}

.form-inner input[type="text"] {
	border-radius: 8px 0px 0px 8px;
	flex: 1 1 100%;
}

.form-inner input[type="number"] {
	border-radius: 0px;
}

.form-inner input[type="submit"] {
    border-radius: 0px 8px 8px 0px;
	cursor: pointer;
	background-image: linear-gradient(to right, #FFCE00 50%, #43e7df);
	background-size: 200%;
	background-position: 0%;
	color: #313131;
	font-weight: 600;
	text-transform: uppercase;
	transition: 0.3s;
}

.form-inner input[type="submit"]:hover {
	background-position: 100%;
	color: #FFF;
}

.liquid-input {
    width: 100%;
}

.liquid-list {
    /* background-color: darkseagreen; */
    padding: 20px;
}

.liquid-list .liquid-item {
	position: relative;
	padding: 10px 15px;
	background-color: #FFF;
	border-radius: 8px;
	margin-bottom: 15px;
	display: flex;
	transition: 0.4s;
	padding-left: 75px;
}

.liquid-list .liquid-item .remove-liquid {
	position: absolute;
	width: -2px;
	top: 0;
	left: 0px;
	bottom: 0;
	overflow: hidden;
	cursor: pointer;
	display: block;
	color: #F8F8F8;
	font-weight: 900;
	background-color: #FF1E2D;
	border-radius: 8px 0px 0px 8px;
	transition: 0.5s;
}

.liquid-list .liquid-item:hover .remove-liquid {
	width: 30px;
}

.liquid-list .liquid-item .type {
	flex: 1 1 100%;
}

.liquid-list .liquid-item .amount {
	min-width: 150px;
}

.liquid-list .liquid-item:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


.cup {
    background-color: rgb(146, 217, 218);
    width:40%;
}