
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header {
	/* background-color: #8FD6E1;
	background-color: #FCDCDF; */
	background-color: #ffd31d;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
	padding-top: 60px;
	padding-bottom: 60px;
	
}

.header-logo {
	justify-self: start;
	margin-left: 30px;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: 1000;
}

.header-menu {
	display: grid;
	list-style: none;
	text-align: center;
	width: 50vw;
	justify-content: end;
	margin-right: 2rem;
}

.header-item {
	height: 80px;
}

.fa-bars {
	color: #fff;
	cursor: pointer;
}

.header-links {
	display: none;
}

.menu-icon {
	display: none;
}

@media screen and (max-width: 960px) {
	.headerItems {
		position: relative;
	}

	.header-right {
		display: none;
	}

	.header-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.header-menu.active {
		background: #242222;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.header-logo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(10%, 5%);
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}

	.header-links {
		display: block;
		text-align: center;
		margin: 2rem auto;
		border-radius: 10px;
		width: 50%;
		text-decoration: none;
		font-size: 1.5rem;
		background-color: transparent;
		color: #fff;
		padding: 14px 20px;
		border: 1px solid #fff;
		transition: all 0.3s ease-out;
		cursor: pointer;
	}

    .link {
        color: #fff
    }

	.header-links:hover {
		background: #fff;
		color: #242424;
		transition: 250ms;
	}
}

.session-btn {
	background-color: transparent;
	padding: 10px 20px;
	border-radius: 10px;
	outline: none;
	border: 1px solid #fff;
	cursor: pointer;
	color: #fff;
	font-size: 1.5rem;
	margin: 10px;
    text-decoration: none;
}

.session-btn:hover {
	background: #fff;
	color: #242424;
	transition: all 0.3s ease-out;
}

/* .logout-btn {
	background-color: transparent;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid #fff;
	cursor: pointer;
	color: #fff;
	font-size: 1.5rem;
} */

/* .logout-btn:hover {
	background: #fff;
	color: #242424;
	transition: all 0.3s ease-out;
} */
