
.splash-container {
  height: 100%;
  width: 100%;
  /* background-color: #FCDCDF;
  background-color: #8FD6E1; */
}


.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  flex-direction: column;
}

.title {
  padding-top: 50px;
  /* color: white; */
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.description {
  /* color: white; */
  font-size: 30px;
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  line-height: 55px;
  padding-top: 15px;

}

.nav-start {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul .start-button {
    --c: white;
    color: var(--c);
    font-size: 20px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul .start-button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul .start-button:hover {
    color: black;
    cursor: pointer;
}

nav ul .start-button:hover span {
    transform: translateY(0) scale(2);
}

nav ul .start-button span:nth-child(1) {
    --n: 1;
}

nav ul .start-button span:nth-child(2) {
    --n: 2;
}

nav ul .start-button span:nth-child(3) {
    --n: 3;
}

nav ul .start-button span:nth-child(4) {
    --n: 4;
}

.splash-pictures {
  display: flex;
  margin: auto;
  align-items: center;
  width: 70%;
  flex-direction: column;

}

.splash-pic {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 70px;
  padding-bottom: 50px;


  /* display: flex;
  justify-content: flex-start; */
}

.top-splash-pic, .bottom-splash-pic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-splash-pic .pic-text {
  margin-right: 10%;
  margin-left: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
}

.bottom-splash-pic .pic-text {
  margin-left: 10%;
  margin-right: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
}

.splash-pictures img {
  width: 70%;
  
  /* object-fit: cover; */
}

.top-splash-pic img {
  margin-right: 5%;
}

.bottom-splash-pic img {
  margin-left: 5%;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.meet-text {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 80px;
  margin-top: 40px;
  /* color: white; */
}

.about-row {
  display: flex;
  margin-top: 50px; 
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
}

.profile-name {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
   /* color: white; */

}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

.icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.icon-text {
   font-size: 30px;
   font-family: 'Montserrat', sans-serif;
   margin-left: 10px;
   /* color: white; */
}

.linked-container, .github-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.linked-container:hover, .github-container:hover {
  opacity: 0.3;
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: space-around;  
  margin-bottom: 100px;
}

